<section class="modalDisplay" id="dotsModal">
    <div class="modalContainer">

        <div class="modalIntro">
            <p class="rosaText">(6) Internal Works <br> ©2020 c/o BASIC®</p>
            <p class="rosaText">A collection of internal project and initiatives under <br> the BASIC® brand.
            </p>
            <div class="imgContainer">
                <img id="closeModal" src="assets/img/close.svg" alt="">
            </div>
        </div>

        <div class="modalMainContent">

            <div>
                <div class="modalBox">
                    <div class="modalImgContainer modalImg1"></div>
                    <h6 class="rosaText">Culture Manual® ©2018</h6>
                    <p class="rosaText">Agency Culture & Onboarding</p>
                    <p class="rosaText">To help strengthen our culture and attract world class talent, we created the Culture Manual – an
                        online guide for new hires that differentiates the employee onboarding process and builds
                        alignment for our collective future.</p>
                    <a href="#" class="aBtnRosa rosaText">VISIT THE SITE</a>

                </div>
                <p class="rosaText modalNo">01</p>
            </div>

            <div>
                <div class="modalBox">
                    <div class="modalImgContainer modalImg2"></div>
                    <h6 class="rosaText">Moves® ©2019</h6>
                    <p class="rosaText">Our New HQ</p>
                    <p class="rosaText">When we moved into our new HQ, we put together a site experience providing an in-depth look into
                        the two-year process imagining, designing, and developing our new office we call home.</p>
                    <a href="#" class="aBtnRosa rosaText">VISIT THE SITE</a>

                </div>
                <p class="rosaText modalNo">02</p>
            </div>

            <div>
                <div class="modalBox">
                    <div class="modalImgContainer modalImg3"></div>
                    <h6 class="rosaText">Culture Manual® ©2018</h6>
                    <p class="rosaText">Agency Culture & Onboarding</p>
                    <p class="rosaText">To help strengthen our culture and attract world class talent, we created the Culture Manual – an
                        online guide for new hires that differentiates the employee onboarding process and builds
                        alignment for our collective future.</p>
                    <a href="#" class="aBtnRosa rosaText">VISIT THE SITE</a>

                </div>
                <p class="rosaText modalNo">03</p>
            </div>

            <div>
                <div class="modalBox">
                    <div class="modalImgContainer modalImg4"></div>
                    <h6 class="rosaText">Culture Manual® ©2018</h6>
                    <p class="rosaText">Agency Culture & Onboarding</p>
                    <p class="rosaText">To help strengthen our culture and attract world class talent, we created the Culture Manual – an
                        online guide for new hires that differentiates the employee onboarding process and builds
                        alignment for our collective future.</p>
                    <a href="#" class="aBtnRosa rosaText">VISIT THE SITE</a>

                </div>
                <p class="rosaText modalNo">04</p>
            </div>

            <div>
                <div class="modalBox">
                    <div class="modalImgContainer modalImg5"></div>
                    <h6 class="rosaText">Culture Manual® ©2018</h6>
                    <p class="rosaText">Agency Culture & Onboarding</p>
                    <p class="rosaText">To help strengthen our culture and attract world class talent, we created the Culture Manual – an
                        online guide for new hires that differentiates the employee onboarding process and builds
                        alignment for our collective future.</p>
                    <a href="#" class="aBtnRosa rosaText">VISIT THE SITE</a>

                </div>
                <p class="rosaText modalNo">05</p>
            </div>

        </div>

    </div>
</section>

<!-- <script>
    let closeModal = document.getElementById("closeModal")
    closeModal.addEventListener("click", () => console.log("test"))
</script> -->