<%- include("./partials/head.ejs") %>
<%- include("./partials/nav.ejs") %>
<main>
    <section class="headlineSect">
        <h1 class="rosaText">WE TURN CULTURAL VALUES</h1>
        <h2 class="h2LikeH1 rosaText">●INTO COMPANY CALUE</h2>
    </section>
    
</main>
<%- include("./partials/footer.ejs") %>

