<%- include("./partials/head.ejs") %>
    <%- include("./partials/nav.ejs") %>
        <main>

            <section class="headlineSect contactFlex">

                <img class="contactImg" src="assets/img/Contact-Header.jpg" alt="">

                <div class="contactMainContent">
                    <div>
                        <h1>B®/</h1>
                        <h2 class="h2LikeH1">CONTACT</h2>
                        <div class="sloganBox">
                            <p class="contactSlogan">EASY TO UNDERSTAND.</p>
                            <p class="contactSlogan">IMPOSSIBLE TO IGNORE.™</p>
                            <p class="contactSlogan">BASIC®, INC 10 - 20©</p>
                        </div>
                    </div>

                    <div class="contactMails">

                        <div>
                            <h2>●</h2>
                        </div>

                        <div class="contactGrid">

                            <div>
                                <h5>NEWS BUSINESS</h5>
                                <a href="#">hi@mail.com</a>
                            </div>

                            <div>
                                <h5>GENERAL</h5>
                                <a href="#">hi@mail.com</a>
                            </div>

                            <div>
                                <h5>PRESS</h5>
                                <a href="#">hi@mail.com</a>
                            </div>

                            <div>
                                <h5>JOIN US</h5>
                                <a href="#">hi@mail.com</a>
                            </div>

                        </div>

                    </div>
                </div>
            </section>

            <section>
                
            </section>

        </main>
        <%- include("./partials/footer.ejs") %>