<%- include("./partials/head.ejs") %>
    <%- include("./partials/nav.ejs") %>
        <main>

            <section class="headlineSect contactFlex">

                <img class="contactImg" src="assets/img/Contact-Header.jpg" alt="">

                <div class="contactHeaderSect">
                    <div>
                        <h1>B®/</h1>
                        <h2 class="h2LikeH1">CONTACT</h2>
                        <div class="sloganBox">
                            <p class="contactSlogan">EASY TO UNDERSTAND.</p>
                            <p class="contactSlogan">IMPOSSIBLE TO IGNORE.™</p>
                            <p class="contactSlogan">BASIC®, INC 10 - 20©</p>
                        </div>
                    </div>

                    <div class="contactMails">

                        <div>
                            <h2>●</h2>
                        </div>

                        <div class="contactGrid">

                            <div>
                                <h5>NEWS BUSINESS</h5>
                                <a href="#">hi@mail.com</a>
                            </div>

                            <div>
                                <h5>GENERAL</h5>
                                <a href="#">hi@mail.com</a>
                            </div>

                            <div>
                                <h5>PRESS</h5>
                                <a href="#">hi@mail.com</a>
                            </div>

                            <div>
                                <h5>JOIN US</h5>
                                <a href="#">hi@mail.com</a>
                            </div>

                        </div>

                    </div>
                </div>
            </section>

            <section class="headlineSect contactMainContent">
                <div class="contactMainGrid">
                    <div>
                        <p class="small12pxP gridItem1">SEC.</p>
                    </div>
                    <div>
                        <p class="small12pxP gridItem2">/A</p>
                    </div>
                    <div>
                        <p class="small12pxP gridItem3 alignRight">●</p>
                    </div>
                </div>

                <div class="contactMainGridOffices">

                    <div class="borderRight">
                        <h4 class="regularHL">OFFICES</h4>
                    </div>

                    <div class="borderBottom marginBottom">
                        <img class="gridImg" src="assets/img/SD.jpg" alt="">
                        <div class="mainGridFlex">
                            <p>01</p>
                            <p>/03</p>
                        </div>
                    </div>

                    <div class="borderBottom marginBottom">
                        <h5 class="regularHL">SAN DIEGO (HQ)</h5>
                    </div>

                    <div class="borderRight">
                        <h4>
                            
                        </h4>
                    </div>

                    <div class="borderBottom marginBottom">
                        <img class="gridImg" src="assets/img/mtv.jpg" alt="">
                        <div class="mainGridFlex">
                            <p>02</p>
                            <p>/03</p>
                        </div>
                    </div>

                    <div class="borderBottom marginBottom">
                        <h5 class="regularHL">BAY AREA</h5>
                    </div>
                    <div class="borderRight">
                        <h4>
                            
                        </h4>
                    </div>

                    <div class="borderBottom">
                        <img class="gridImg" src="assets/img/stl.jpg" alt="">
                        <div class="mainGridFlex">
                            <p>03</p>
                            <p>/03</p>
                        </div>
                    </div>

                    <div class="borderBottom">
                        <h5 class="regularHL">ST. LOUIS</h5>
                    </div>

                </div>
                <div class="contactMainGrid">
                    <div>
                        <p class="small12pxP gridItem1">SEC.</p>
                    </div>
                    <div>
                        <p class="small12pxP gridItem2">/B</p>
                    </div>
                    <div>
                        <p class="small12pxP gridItem3 alignRight">●</p>
                    </div>
                </div>
            </section>

            <section class="contactPreFooter">
                <div><h4 class="regularHL">FOLLOW</h4></div>
                <div>
                    <h5>Social</h5>
                    <ul>
                        <li><a href="#">Instagram</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">LinkedIn</a></li>
                        <li><a href="#">Facebook</a></li>
                    </ul>
                </div>

                <div>
                    <h5 class="regularHL">STAY IN THE KNOW</h5>
                <form action="">
                    <label for="email">Email Address</label> <br>
                    <input type="email" name="email" id="emailDark">
                </form>
                </div>
            </section>
        </main>
        <%- include("./partials/footer.ejs") %>