<%- include("./partials/head.ejs") %>
    <%- include("./partials/nav.ejs") %>
        <main>

            <section class="headlineSect">
                <h1 class="indexHL">WHAT'S NEXT <br> STARTS</h1>
                <h2 class="h2LikeH1 alignRight"> ●HERE</h2>
                <section class="videoContainer">
                    <video autoplay muted src="assets/img/Hero.mp4"></video>
                </section>
            </section>


            <section class="littleAbout">

                <div>
                    <p class="small14pxP">STRATEGY, DESIGN, TECHNOLOGY</p>
                    <h2>BASIC® is a branding and digital design agency building products, services, and ecommerce
                        experiences that turn cultural values into company value.</h2>
                    <a class="aBtn" href="#">SEE THE WORK</a>
                </div>

                <div>
                    <img src="assets/img/footer-logo-bg-white.svg" alt="">
                </div>

            </section>

            <section class="ftEngagements">
                <h2>FEATURED <br> ENGAGEMENTS</h2>
            </section>
            
            <section class="ftEngage">
                
                 <div class="ftEngageGridContainer">
                    <div>
                        <img src="assets/img/google-dark.svg" alt="">
                        <hr>
                        <h6>GOOGLE</h6>
                        <hr>
                        <p>Our embedded partnership with Google is as deep as it gets. We’re the lead creative agency for Google Store and provide strategy, design, and prototyping to other divisions.</p>
                    </div>
                    <div>
                        <img src="assets/img/patagonia-dark.svg" alt="">
                        <hr>
                        <h6>PATAGONIA</h6>
                        <hr>
                        <p>Ongoing partnership providing strategy, branding, experience design, and development focused on bringing their mission and offerings to consumers through brand-led programs and platforms.</p>
                    </div>
                    <div>
                        <img src="assets/img/airbnb-dark.svg" alt="">
                        <hr>
                        <h6>AIRBNB</h6>
                        <hr>
                        <p>Helping the world’s leading peer-to-peer hospitality company with creative vision, experience strategy, and execution in partnership with various departments and divisions internally at Airbnb.</p>
                    </div>
                    <div>
                        <img src="assets/img/herman-miller-resized.svg" alt="">
                        <hr>
                        <h6>HERMAN MILLER</h6>
                        <hr>
                        <p>A collaborative and performance incentivized partnership with our teams working side by side to reimagine the digital shopping experiences for Herman Miller, Design Within Reach, and Hay.</p>
                    </div>
                    <div>
                        <img src="assets/img/under-armour-dark.svg" alt="">
                        <hr>
                        <h6>UNDER ARMOUR</h6>
                        <hr>
                        <p>Strategy, design, and development to differentiate the iconic brand’s direct-to-consumer experience through an all new omnichannel approach, global eCommerce</p>
                    </div>
                 </div>
            </section>

            <section class="darkSect">
                <section class="darkSectFlex">
                    <div>
                        <h2 class="h2LikeH1 rosaText">BASIC® HELPS <br> BRANDS <br> ●CONNECT <br> W/ CULTURE</h2>
                        <p class="subHL rosaText">ADWEEK <span class="boldHL rosaText">(AGENCY SPOTLIGHT)</span></p>
                        <a class="aBtnRosa rosaText" href="#">ABOUT US</a>
                    </div>
                    <div>
                        <video autoplay muted src="assets/img/Culture.mp4"></video>
                    </div>
                </section>
                <section class="ftNews">
                    <h2 class="rosaText">FEATURED <br> NEWS</h2>
                    <%- include("./partials/newsIndexSect.ejs") %>
                </section>

            </section>

        </main>
        <%- include("./partials/footer.ejs") %>