<%- include("./partials/head.ejs") %>
<%- include("./partials/nav.ejs") %>
<main>
    <h1>WHAT'S NEXT <br> STARTS</h1>
    <h2 class="h2LikeH1 alignRight">HERE</h2>
</main>
<%- include("./partials/footer.ejs") %>

