<%- include("./partials/head.ejs") %>
<%- include("./partials/nav.ejs") %>
<main class="width95">
    <section class="hlSectSubpage">
        <h1 class="marginHL">NEWS</h1>
        <h2 class="h2LikeH1">●</h2>
    </section>

    <section class="mainNewsSect">
        <%- include("./partials/newsSection.ejs") %>
    </section>
    
</main>
<%- include("./partials/footer.ejs") %>

