@font-face {
    font-family: "Scto";
    src: url("/assets/fonts/SctoGroteskA-Regular.woff2") format("woff2");
    font-weight: normal;
}

@font-face {
    font-family: "Scto";
    src: url("/assets/fonts/SctoGroteskA-Medium.woff2") format("woff2");
    font-weight: 500;
}

@font-face {
    font-family: "Scto";
    src: url("/assets/fonts/SctoGroteskA-Bold.woff2") format("woff2");
    font-weight: 600;
}

:root {
    --rosa: #f9cdcd;
    --grey:  #252422;
    --main-bg: #f4f4f4;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Scto";
    color: #000;
}

body, .lightBG {
    background: var(--main-bg);
}

.darkBG, .darkSect {
    background: var(--grey);
}

.darkBG nav ul li a {
    color: var(--rosa);
}

nav {
    width: 95%;
    margin: 2rem auto;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li a {
    text-transform: uppercase;
}

#navLogo{
    width: 7rem;
    margin-right: 7rem;
}

#navMenu {
    width: 3rem;
    margin-left: 10rem;
}

h1, .h2LikeH1 {
    font-weight: 600;
    font-size: 5.563rem;
}

h2 {
    font-size: 2.563rem;
}

.regularHL {
    font-weight: 400;
}

.whiteHL {
    color: #fff;
}

.boldHL {
    font-weight: 600;
}

h3 {
    font-size: 2.094rem;
}

h4 {
    font-size: 1.688rem;
}

h5, figcaption  {
    font-size: 1.406rem;
}

h6 {
    font-size: 1.125rem; 
}

.small14pxP {
    font-size: 0.938rem;
}

.small12pxP {
    font-size: 0.75rem; 
}

.alignCenter {
    text-align: center;
}

.alignRight {
    text-align: right;
}

#slogan { 
    font-size: 0.563rem;
}

.videoContainer video {
    width: 100%;
}

.headlineSect, .littleAbout, .ftEngage {
    width: 95%;
    margin: 0 auto;
}

.littleAbout, .darkSectFlex, .ftNewsFlex, .footerLowerThird  {
    display: flex;
    justify-content: space-between;
}

.littleAbout {
    margin-top: 1.5rem;
    margin-bottom: 10rem;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding-bottom: 15rem;
}

.littleAbout div:nth-of-type(1) {
    width: 45%;
}

.littleAbout div:nth-of-type(1) p {
    margin-top: 1.5rem;
}

.littleAbout div:nth-of-type(1) h2 {
    margin: 2.5rem 0;
}

.littleAbout div:nth-of-type(2) img {
    width: 30rem;
    margin-top: 4rem;
}

.aBtn , .aBtnRosa {
    padding: .5rem 2.7rem;
    border-radius: 2rem;
}

.aBtn {
    border: 1px solid #000;
}

.aBtnRosa {
    border: 1px solid var(--rosa);
}

.aBtnRosa:hover {
    background: var(--rosa);
    color: var(--grey);
}

.aBtn:hover {
    background: #000;
    color: #fff;
}

.darkSect {
    padding: 6rem 2.75rem;
}

.darkSect h2, .darkSect p, .darkSect span, .darkSect a {
    color: var(--rosa);
}

.h2LikeH1{
    line-height: 5rem;
}

.subHL {
    margin: 1rem 0 5rem 0;
}

.ftNews {
    margin-top: 10rem;
}

.ftNewsFlex {
    border-top: 1px solid var(--rosa);
    padding-top: 1rem;
    margin-top: 5rem;
}

.ftNewsImg {
    width: 30vw;
    height: auto;
    margin-right: 1rem;
}

.ftNewsCopy {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ftNewsCopy h2 {
    width: 54.5%;
}

.ftNewsCopy p span {
    margin-left: 2rem;
}

.arrow {
    align-self: flex-start;
    width: 3rem;
}









.footerFlexOne, .footerFlexTwo {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
}

.footerFlexOne {
    margin-bottom: 7rem;
}

.footerFlexOne img{
    align-self: flex-start;
}

.footerFlexOne div {
    width: 50%;
}

#footerLogo {
    width: 3rem;
}

.footerConnect {
    text-decoration: underline #fff;
}

.footerConnect:hover {
    text-decoration: underline wavy var(--rosa);
}

.footerFlexTwo {
    margin-bottom: 13rem;
}

.footerForm {
    width: 100%;
}

.footerInfos {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footerForm h5, .footerInfos h5 {
    padding-bottom: 2rem;
}

#email {
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    width: 98%;
    color: #fff;
    padding: .5rem;
}

#email:focus, #email:active {
    outline: none;
}


.footerLowerThird {
    padding: 2rem 2.75rem;
    background: #232220;
}

.footerLowerThird p {
    color: #4f4f4f;
}