@font-face {
    font-family: "Scto";
    src: url("/assets/fonts/SctoGroteskA-Regular.woff2") format("woff2");
    font-weight: normal;
}

@font-face {
    font-family: "Scto";
    src: url("/assets/fonts/SctoGroteskA-Medium.woff2") format("woff2");
    font-weight: 500;
}

@font-face {
    font-family: "Scto";
    src: url("/assets/fonts/SctoGroteskA-Bold.woff2") format("woff2");
    font-weight: 600;
}

:root {
    --rosa: #f9cdcd;
    --grey:  #252422;
    --main-bg: #f4f4f4;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Scto";
    color: #000;
}

body, .lightBG {
    background: var(--main-bg);
}

.darkBG {
    background: #333;
}

.darkBG nav ul li a {
    color: var(--rosa);
}

nav {
    width: 95%;
    margin: 2rem auto;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li a {
    text-transform: uppercase;
}

#navLogo{
    width: 7rem;
    margin-right: 7rem;
}

#navMenu {
    width: 3rem;
    margin-left: 10rem;
}

h1, .h2LikeH1 {
    font-weight: 600;
    font-size: 5.563rem;
}

h2 {
    font-size: 2.563rem;
}

.boldHL {
    font-weight: 600;
}

h3 {
    font-size: 2.094rem;
}

h4 {
    font-size: 1.688rem;
}

h5, figcaption  {
    font-size: 1.406rem;
}

h6 {
    font-size: 1.125rem; 
}

.small14pxP {
    font-size: 0.938rem;
}

.small12pxP {
    font-size: 0.75rem; 
}

.alignCenter {
    text-align: center;
}

.alignRight {
    text-align: right;
}

#slogan { 
    font-size: 0.563rem;
}

main {
    width: 95%;
    margin: 0 auto;
}
 